.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.converters {
  min-width: 500px;
  background-color: #ffffff;
  min-height: 200px;
  border-radius: 4px;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.converter {
  display: flex;
  justify-content: space-around;
}
